{% extends '::base.html.twig' %}

{% block content %}
	
	<h1>Quote Request</h1>
	
	<form>
	
	<fieldset>
	
		<legend>Website Information</legend>
		
		<p><label>Name</label></p>
		
		<p><label>What is it about?</label></p>
		
		<p><label>What type of website?</label></p>
		
		<p><label>How many pages?</label></p>
		
		<p><label>Do you need a logo?</label></p>
		
		<p><label>Do you need a CMS (Content Management System)?</label></p>
		
		<p><label>Are you going to sell online?</label></p>
		
		<p><label>When do you need this done?</label></p>
		
		<p><label>Your budget?</label></p>
		
	</fieldset>
	
	<fieldset>
		<legend>Hosting & Domain</legend>
		
		<p><label>Do you need a domain?</label></p>
		
		<p><label>Do you need hosting?</label></p>
		
	</fieldset>
	
	<fieldset>
		<legend>Additional Information</legend>
		
		<p>Feel free to add anything that is on your mind.</p>
		
		<p><textarea></textarea></p>
		
	</fieldset>
	
	<fieldset>
	
		<legend>Contact Information</legend>
		
		<p><label>First Name</label></p>
		
		<p><label>Last Name</label></p>
		
		<p><label>Email</label></p>
		
		<p><label>Phone</label></p>
		
		<p><label>Preferred method of contact</label></p>
	
	</fieldset>
	
	</form>
	
{% endblock %}