{% extends '::base.html.twig' %}

{% block navigation %}
	<ul>
		<li><a href="#">dashboard</a></li>
		<li><a href="#">account</a></li>
		<li><a href="#">clients</a></li>
		
		<li class="logout"><a href="{{ path('fos_user_security_logout') }}">sign out</a></li>
	</ul>
{% endblock %}