{% extends '::base.html.twig' %}

{% block content %}

	<div class="row">
	<div class="small-12 large-12 columns title">
	   <h3> SEO friendly design </h3> 
	</div> 
	    
	<div class="small-9 large-9 columns">
   		<p> At Vermello web-designs we take our awareness of SEO friendly design and 
		use it to your advantage, offering free services to help you generate organic traffic and get you on your feet with SEO. As part of the standard web package we will develop the site with optimised content and link building strategies. We will also provide you with a free XML sitemap and help you install analytics tools that will help you drive traffic to your site. </p> 
	</div> 
	<div class="small-3 large-3 columns title"> 
	</div>
	
	<div class="small-12 large-12 columns title">
		<h3> Instant mobile site rendering </h3> 
	</div>
	
	<div class="small-9 large-9 columns">
 		<p> At Vermello Web solutions we use development technology which allows us to instantly render your website in various screen resolutions, tablets and smart phones. </p>
	</div>
	<div class="small-3 large-3 columns title">
	</div>
	
	<div class="small-12 large-12 columns title">
		<h3> Functional design </h3>
	</div>
	
	<div class="small-9 large-9 columns">
 		<p> Functional design takes precedence in all our designs. We look to design your website in a way that bring you closer to completing your business objectivesQuote request.</p>
	</div>
	<div class="small-3 large-3 columns title">
	</div>		
			
	</div>
{% endblock %}