div.login {
	margin-top:1em;
	padding-top:2em;
	background-color:#B4363B;
	@include border-radius(8px);
	@include single-box-shadow(#78191d, 0, 0, 4px);
	
	label {
		color:#fff;
		font-size:emCalc(19px);
		padding-left:2em;
	}
	
	input[type=text], input[type=password] {
		max-width:250px;
	}
	
	p.submit {
		text-align:center;
	}
}